body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.container{
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(0,0,0,0.1);
}
h1{
    text-align: center;
}
.input-area{
    display: flex;
    gap: 20px;
}
input{
    flex: 1;
    padding: 8px;
}
button{
    padding: 8px 12px;
    background: #4CAF50;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
button:hover{
    background: #45a049;
}
li{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 8px;
    background: #f1f1f1;
}